.video-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .video-container {
    height: 50vh; /* Adjust height for smaller screens */
  }
}
