.footer {
  background: #333;
  color: #ccc;
  padding: 2rem 2rem 1rem;
  border-top: 2px solid var(--color-primary);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.footer h3,
.footer h4 {
  color: var(--color-primary);
  margin-bottom: 0.75rem;
}

.footer-about p {
  line-height: 1.6;
}

.footer-contacts {
  width: 80%; /* take 80% of screen */
  margin: 0 auto; /* center horizontally */
  /* display: flex;            use flexbox */
  justify-content: center; /* center child divs horizontally */
  align-items: center; /* center child divs vertically */
  gap: 2rem; /* space between child divs */
  padding: 2rem 0;
  text-align: center; /* center text inside */
  background-color: var(--color-primary);
  border-radius: 8px;
}
.footer-contacts h3 {
  font-size: 3rem;
  color: #111;
  margin-bottom: 0.5rem;
}
.footer-contacts p {
  color: #fff;
  margin-bottom: 1rem;
}

.footer-contact p {
  margin: 0.4rem 0;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.footer-socials .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  gap: 15px;
  margin-top: 10px;
}

.btn-primary {
  background: var(--color-primary);
  border: none;
  padding: 15px 30px;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid var(--color-primary-dark);
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background: var(--color-primary-dark);
  transform: translateY(-3px);
  border: none;
}

.footer-socials .social-icons a {
  color: #fff;
  text-decoration: none;
}

.footer-socials .social-icons svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footer-socials .social-icons svg:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-contacts {
    width: 90%;
    padding: 1.5rem;
  }

  .footer-contacts h3 {
    font-size: 2rem;
  }
}
